<ion-header>
  <ion-toolbar color="primary" >
    <ion-buttons slot="start">
      <ion-back-button text="Profil"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Mon badge
    </ion-title>
  </ion-toolbar>

<ion-content style="height: 600px;">
  <ion-row justify-content-center >
    <ion-col size-md="3" size-lg="3" size-xs="12">
    </ion-col>

    <ion-col align-self-center size-md="6" size-lg="6" size-xs="12" style="text-align: center;">
      <svg id="ean-8"></svg>
    </ion-col>
    <ion-col size-md="3" size-lg="3" size-xs="12">
    </ion-col>
  </ion-row>
</ion-content>
