


ion-grid{
    background-color: #f6f6f6;
  }
  
  h1 {
    font-size: 20px;
    
  }
  
  
  h2 {
    font-size: 50px;
  }
  
  h4 {
    color: black;
  }
  
  p .header-fixed{
    color: black;
  }
  p {
    color: black;
  }
  

  .white-letter {
    color: rgb(255, 253, 253);
  }
  
  .small-text{
    font-size: 9px;
    color:rgb(94, 92, 92);
  }
  
  .domaine{
    text-align: left;
    font-size: 15px;
    color:rgb(94, 92, 92);
  }
  
  ion-button{
    text-transform: inherit;
  }
  
  ion-card {
    border-radius: 10px 10px 10px 10px;
  }
  

