
<ion-content  color="tertiary">
  <ion-row class="ion-padding">
    <ion-col sizeLg="3" sizeMd="3" sizeXs="12" >
    </ion-col> 
    <ion-col sizeLg="6" sizeMd="6" sizeXs="12" style="text-align: center;" >
      <h1 style="color:white">{{ title }}</h1>
      <h2 style="color:white">{{ subtitle}}</h2>
      <div style="color:white" [innerHTML]="content"></div>
      <br>
    </ion-col> 
   <ion-col sizeLg="3" sizeMd="3" sizeXs="12" >
   </ion-col> 
  </ion-row>

  <ion-row >
   <ion-col sizeLg="3" sizeMd="3" sizeXs="12" >
   </ion-col> 
   <ion-col sizeLg="6" sizeMd="6" sizeXs="12" *ngIf="newstotal!==0">
     <h1 class="ion-padding"> Flash Info  </h1>
       <ion-card  *ngFor="let item of posts" color="primary">
         <ion-card-content>
           <ion-card-title>
             {{ item.title }}
             </ion-card-title>
             <div [innerHTML]="item.content"></div> <br>
           <small> le <b>{{item.created_at| date: 'dd/MM/yyyy'}}</b> à <b> {{item.created_at| date:'HH:mm' }} </b> </small><br>
         </ion-card-content>
       </ion-card>
   </ion-col> 
  <ion-col sizeLg="3" sizeMd="3" sizeXs="12" >
  </ion-col> 
 </ion-row>



 <ion-row>
   <ion-col sizeLg="3" sizeMd="3" sizeXs="12" >
   </ion-col> 
   <ion-col sizeLg="6" sizeMd="6" sizeXs="12" >
        <ion-row>
          <ion-col sizeLg="6" sizeMd="6" sizeXs="12" *ngFor="let item of pages" >
            <div class="container-image" [routerLink]="item.seo">
              <img src="{{UrlImage}}images/{{item.image}}"  class="img-menu">
              <div class="centered-image">
                <h1 color="secondary">{{item.title}}</h1>
              </div>
            </div>
          </ion-col>
    </ion-row>
   </ion-col> 
   <ion-col sizeLg="3" sizeMd="3" sizeXs="12" >
  </ion-col> 
 </ion-row>







</ion-content>



